<p>Weak and really strong showers whatever you like</p>
<p><%= image_tag('http://cdn12.grohe.com/~mi/479/942/rainshower-next-generation-system-shower-system-with-diverter-for-wall-mounting.jpg') %></p>